In [2]:
import sqlite3
from fileinput import close

In [3]:
connection = sqlite3.connect('database.db')

In [4]:
type(connection)

sqlite3.Connection

In [6]:
con=sqlite3.connect(":memory:")

In [7]:
query = "Select datetime('now','localtime');"
cursor = con.cursor()
time  = cursor.execute(query)
time.fetchone()

('2025-03-21 16:19:55',)

In [8]:
con.close()

# Using "With" keyword

In [22]:
with sqlite3.connect('database.db') as con:
    cursor = con.cursor()
    cursor.execute('create table Student ( fname text not null, lname text not null, age int not null);')
    print(cursor.fetchmany(1))

OperationalError: table Student already exists

In [23]:
with sqlite3.connect('database.db') as con:
    cursor = con.cursor()
    query  = "insert into Student (fname, lname, age) values ('John', 'Doe', 21);"
    data  = cursor.execute(query)

In [25]:
with sqlite3.connect('database.db') as con:
    cursor = con.cursor()
    query  = "drop table Student;"
    data  = cursor.execute(query)

In [32]:
delete = """ drop table Student2"""

In [35]:
with sqlite3.connect('database.db') as con:
    cursor = con.cursor()
    cursor.execute(delete)

OperationalError: no such table: Student2

In [36]:
sql = """
    Drop table if exists Students;

    Create table Students(fname text, lname text, age int);

    Insert into Students Values
    ('Ali', 'Valiev', 21), 
    ('Gani', 'Aaliev', 22), 
    ('Sardor', 'Ahmadaliev', 31),
    ('Erik', 'Haydar', 41),
    ('Elmurod', 'Aka', 51);
"""

In [38]:
    with sqlite3.connect("studentTest.db") as c:
        cursor = c.cursor()
        cursor.executescript(sql)

In [42]:
with sqlite3.connect("studentTest.db") as con:
    cursor = con.cursor()
    query = "Select * from Students order by age desc"
    data = cursor.execute(query)

data.fetchall()

[('Elmurod', 'Aka', 51),
 ('Erik', 'Haydar', 41),
 ('Sardor', 'Ahmadaliev', 31),
 ('Gani', 'Aaliev', 22),
 ('Ali', 'Valiev', 21)]

In [44]:
student_values = (
    ('Ali', 'Valiev', 21), 
    ('Gani', 'Aaliev', 22), 
    ('Sardor', 'Ahmadaliev', 31),
    ('Ali', 'Valiev', 21), 
    ('Gani', 'Aaliev', 22), 
    ('Sardor', 'Ahmadaliev', 31),
    ('Ali', 'Valiev', 21), 
    ('Gani', 'Aaliev', 22), 
    ('Sardor', 'Ahmadaliev', 31),
    ('Ali', 'Valiev', 21), 
    ('Gani', 'Aaliev', 22), 
    ('Sardor', 'Ahmadaliev', 31),
    ('Ali', 'Valiev', 21), 
    ('Gani', 'Aaliev', 22), 
    ('Sardor', 'Ahmadaliev', 31),
)

In [46]:
with sqlite3.connect("student.db") as con:
    cursor = con.cursor()
    query = "create table Students(fname text, lname text, age int);"
    cursor.execute(query)

In [47]:
with sqlite3.connect("student.db") as con:
    cursor = con.cursor()
    placeholders = ", ".join(['?'] * 3)
    """data = cursor.executemany("Insert into Students Values(?, ?, ?);", student_values)"""
    data = cursor.executemany(f"Insert into Students Values({placeholders})", student_values)

In [52]:
fname = input("Ism? ")
lname = input("Familiya? ")
age = input("Yosh? ")


values = (
    (fname, lname, age)
)

# query = (
#     f"Insert into Students Values('{fname}', '{lname}', '{age}')"
# )

with sqlite3.connect("studentNN.db") as con:
    cursor = con.cursor()
    # cursor.execute("Create table Students (fname Text, lname text, age int)")
    cursor.execute("Insert into Students Values(?, ?, ?)", values)

In [56]:


with sqlite3.connect("studentTest.db") as con:
    
    cursor = con.cursor()
    query = "delete from Students where fname = 'Ali';"
    cursor.execute(query)

In [57]:
sql = """
    drop table if exists Stu;

    Create table Stu(fname text, lname text, age int);

    Insert into Stu Values
    ('Ali', 'Valiev', 21), 
    ('Gani', 'Aaliev', 22),
    ('Sardor', 'Ahmadaliev', 31),
    ('Erik', 'Haydar', 41),
    ('Elmurod', 'Aka', 51);

    Delete from Stu where age = 31;
"""

In [58]:
with sqlite3.connect("stuTest.db") as c:
    cursor = c.cursor()
    cursor.executescript(sql)
    cursor.execute("ALTER TABLE Stu ADD column email TEXT")
    cursor.execute("UPDATE Stu SET email='nimadir@nima.com21' WHERE age = 21")
    cursor.execute("UPDATE Stu SET email='nimadir@nima.com22' WHERE age = 22")
    cursor.execute("UPDATE Stu SET email='nimadir@nima.com41' WHERE age = 41")
    cursor.execute("UPDATE Stu SET email='nimadir@nima.com51' WHERE age = 51")

In [59]:
with sqlite3.connect("stuTest.db") as c:
    cursor = c.cursor()
    # cursor.executescript(sql)
    data = cursor.execute("Select fname, lname from Stu where age > 40")

data.fetchall()

[('Erik', 'Haydar'), ('Elmurod', 'Aka')]